{% extends "registration/base_registration.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block body %}
  <h2>{% trans "Password reset" %}</h2>
  <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

  <form action="." method="post" class="uniForm">{% csrf_token %}
      {{ form|crispy }}
    <div class="buttonHolder">
      <input type="submit" name="submit" value="{% trans 'Reset password' %}" class="submit submitButton" id="submit-id-submit" />
    </div>
  </form>

{% endblock %}